attrs
Automat
backports.zoneinfo
beautifulsoup4
bs4
certifi
cffi
charset-normalizer
clickhouse-driver
constantly
cryptography
cssselect
dnspython
fake-useragent
filelock
hyperlink
idna
importlib_resources
incremental
itemadapter
itemloaders
jmespath
lxml
numpy
packaging
pandas
parsel
pillow
Protego
pyasn1
pyasn1_modules
pycparser
PyDispatcher
pymongo
pyOpenSSL
python-dateutil
python-dotenv
pytz
queuelib
requests
requests-file
Scrapy
service-identity
six
soupsieve
tldextract
Twisted
twisted-iocpsupport
typing_extensions
tzdata
tzlocal
urllib3
w3lib
zipp
zope.interface
